{% extends '_shared/_base.html' %}
{% load static %}
{% load thumbnail %}
{% block title %}
	Restaurant Profile
{% endblock %}


{% block content %}
    <div class="main-section">
        <!-- load cover photo here -->
            {% include 'accounts/includes/cust-dashboard-cover.html' %}
			<div class="page-section account-header buyer-logged-in">
				<div class="container">
					<div class="row">
						<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                            <!-- load the sidebar here -->

                            {% include 'accounts/includes/sidebar-dashboard-customer.html' %}
						</div>
						<div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
							<div class="user-dashboard loader-holder">
								<div class="user-holder">
									<h5 class="text-uppercase">Manage Your profile</h5>

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
    {% include 'alert/alert_messages.html' %}
{% endblock %}