{% extends '_shared/_base.html' %}
{% load thumbnail %}

{% block title %}
	Cart
{% endblock %}


{% block content %}
	<div class="main-section">


		<div class="page-section pt-5">
			<div class="container">
				<div class="row">
					<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
						<div class="tabs-holder horizontal">
							<ul class="stickynav-tabs nav nav-tabs">
								<li class="active">
									<a data-toggle="tab" href="#home"><i class="bi bi-handbag"></i>Cart items</a>
								</li>

							</ul>
							<div class="tab-content">
								<div id="home" class="tab-pane in active">
									<div class="menu-itam-holder">
										<div class="text-center p-5" id="empty-cart" style="display: none;">
											<h3>
												Cart is empty
											</h3>
										</div>
										<div id="menu-item-list-6272" class="menu-itam-list">


											<ul>
												{% if carts %}


													{% for cart in carts %}

														<li id="cart-item-{{ cart.id }}">
														<div class="image-holder">
															<a href="#">
																{% thumbnail cart.fooditem.image "175x165" crop='center' quality=90 as im %}
				                                                    <img  src="{{ im.url }}" alt="">
				                                                {% endthumbnail %}
															</a>
														</div>
														<div class="text-holder">
															<h6>{{ cart.fooditem.food_name }}</h6>
															<span>{{ cart.fooditem.description }}</span>
															<a href="{% url 'detail-marketplace' cart.fooditem.vendor.vendor_slug %}" class="badge badge-warning">{{ cart.fooditem.vendor }}</a>
														</div>
														<div class="price-holder">
															<span class="price">£{{ cart.fooditem.price }}</span>
															<a href="#" class="decrease_cart" data-id="{{ cart.fooditem.id }}" id="{{ cart.id }}" data-url="{% url 'decrease_cart' cart.fooditem.id %}" style="margin-right: 20px"><i class="icon-minus3 text-color"></i></a>
															<label id="qty-{{ cart.fooditem.id }}">0</label>
															<a href="#" class="add_to_cart" data-id="{{ cart.fooditem.id }}" data-url="{% url 'add-to-cart' cart.fooditem.id %}">
															    <i class="icon-plus4 text-color"></i>
															</a>
															<a href="#" class="delete_cart" data-id="{{ cart.id }}" data-url="{% url 'delete-cart' cart.id %}">
															    <i class="bi bi-trash text-danger"></i>
															</a>

														</div>
													</li>
													{% endfor %}
												{% else %}
													<div class="text-center p-5">
														<h3>
															Cart is empty
														</h3>
													</div>
												{% endif %}
											</ul>


										{% for cart in carts %}
											<span  id="qty-{{ cart.fooditem.id }}" class="item_qty" data-qty="{{ cart.quantity }}"></span>
										{% endfor %}


										</div>
									</div>
								</div>

							</div>
						</div>
					</div>


					<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
						<div class="tabs-holder horizontal">
							<ul class="stickynav-tabs nav nav-tabs">
								<li class="active"><a data-toggle="tab" href="#home"><i class="bi bi-credit-card"></i>Your Order</a></li>

							</ul>
							<div class="tab-content">
								<div id="home" class="tab-pane in active">
									<div class="menu-itam-holder">
										<div id="menu-item-list-6272" class="menu-itam-list">
											<ul>
												<li style="list-style-type: none;">
													Subtotal
													<span class="price float-right">
														<span class="currency">$</span>
														<span id="subtotal">{{ subtotal }}</span>
													</span>
												</li>
												<li style="list-style-type: none;">
													Value-added tax (VAT)
													<span class="price float-right">
														<span class="currency">$</span>
														<span id="tax">{{ tax }}</span>
													</span>
												</li>
												<li style="list-style-type: none; font-weight: bold">
													Total
													<span class="price float-right">
														<span class="currency">$</span>
														<span id="total">{{ grandtotal }}</span>
													</span>
												</li>

											</ul>
										</div>
									</div>
								</div>

							</div>
						</div>
					</div>


				</div>
			</div>
		</div>
	</div>
{% endblock %}
