<div class="user-account-nav user-account-sidebar">
    <div class="user-nav-list">
        <ul>
            <li class="{% if request.path == '/custDashboard/' or request.path == '/customer/' %} active {% endif %}">
                <a href="{% url 'custDashboard' %}"><i class="icon-dashboard3"></i>Dashboard</a>
            </li>
            <li class="{% if 'profile' in request.path %} active {% endif %}">
                <a href="{% url 'customer_profile' %}"><i class="bi bi-person-bounding-box"></i>Profile</a>
            </li>
            <li class="{% if 'my_orders' in request.path or 'my_orders_detail' in request.path %} active {% endif %}">
                <a href="{% url 'my_orders_list' %}"><i class="icon-add_shopping_cart"></i>My Orders</a>
            </li>
            <li><a class="logout-btn" href="{% url 'logout' %}"><i class="icon-log-out"></i>Signout</a></li>
        </ul>
    </div>
</div>